#background_header {
  width: 100%;
  height: 20vh;
  background-color: #128c7e;
}

#background_body {
  width: 100%;
  height: 80vh;
  background-color: #d8e8ea;
}

#ChatContainer {
  position: absolute;
  top: 5vh;
  right: 0;
  left: 0;
  margin: auto;
  width: 70%;
  // height: 30%;
  background-color: #dfd8d2;
  //   background-image: url(".");
  border-radius: 10px;
  box-shadow: -2px 5px 12 px 5px grey;
}

// #topbar {
//   position: relative;
//   width: 71%;
//   height: 15%;
//   // box-sizing: border-box;
//   margin: auto;
//   left: 27vh;
//   background-color: #d8e8ea;
//   border-radius: 10px;
// }
// #chatbar {
//   position: fixed;
//   width: 26%;
//   height: 14%;
//   // box-sizing: border-box;
//   display: inline-block;
//   margin: auto;
//   left: 11.5vh;
//   padding: 0;
//   background-color: #d8e8ea;
//   border-radius: 10px;
// }
// #sidebar {
//   position: absolute;
//   width: 29%;
//   height: 84%;
//   background-color: white;
//   left: 0vh;
//   border-radius: 10px;
//   margin-top: 4px;
// }
// span {
//   display: block;
//   width: 40px;
//   height: 20px;
// }

@import url(https://fonts.googleapis.com/css?family=Lato:400,700);

$green: #86bb71;
$blue: #94c2ed;
$orange: #e38968;
$gray: #92959e;

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  background: #c5ddeb;
  font: 14px/20px "Lato", Arial, sans-serif;
  padding: 40px 0;
  color: white;
}

.container {
  height: 870px;
  margin: 0 auto;
  width: 950px;
  background: #444753;
  border-radius: 5px;
}

.people-list {
  width: 300px;
  float: left;

  .search {
    padding: 20px;
  }

  input {
    border-radius: 3px;
    border: none;
    padding: 14px;
    color: white;
    background: #6a6c75;
    width: 90%;
    font-size: 14px;
  }

  .fa-search {
    position: relative;
    left: -25px;
  }

  img {
    float: left;
    width: 50px;
    height: 50px;
    border-radius: 20px;
  }

  .about {
    float: left;
    margin-top: 8px;
  }

  .about {
    padding-left: 28px;
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
    color: white;
    text-transform: capitalize;
  }

  .status {
    color: $gray;
  }
}

.chat {
  width: 650px;

  float: left;
  background: #f2f5f8;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;

  color: #434651;

  .chat-header {
    padding: 20px;
    border-bottom: 2px solid white;

    img {
      float: left;
    }

    .chat-about {
      float: left;
      padding-left: 10px;
      margin-top: 6px;
    }

    .chat-with {
      font-weight: bold;
      font-size: 16px;
      text-transform: capitalize;
      margin-top: 20px;
      margin-left: 40px;
      line-height: 10px;
    }

    .chat-num-messages {
      color: $gray;
    }

    .fa-star {
      float: right;
      color: #d8dadf;
      font-size: 20px;
      margin-top: 12px;
    }
  }

  .chat-history {
    padding: 30px 30px 20px;
    border-bottom: 2px solid white;
    overflow-y: scroll;
    height: 575px;

    .message-data {
      margin-bottom: 15px;
    }

    .message-data-time {
      color: lighten($gray, 8%);
      padding-left: 6px;
    }

    .message {
      color: white;
      padding: 18px 20px;
      line-height: 26px;
      font-size: 16px;
      border-radius: 7px;
      margin-bottom: 30px;
      width: 90%;
      position: relative;

      &:after {
        bottom: 100%;
        left: 7%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-bottom-color: $green;
        border-width: 10px;
        margin-left: -10px;
      }
    }

    .my-message {
      background: $green;
    }

    .other-message {
      background: $blue;

      &:after {
        border-bottom-color: $blue;
        left: 93%;
      }
    }
  }

  .chat-message {
    padding: 30px;

    textarea {
      width: 100%;
      border: none;
      padding: 10px 20px;
      font: 14px/22px "Lato", Arial, sans-serif;
      margin-bottom: 10px;
      border-radius: 5px;
      resize: none;
    }

    .fa-file-o,
    .fa-file-image-o {
      font-size: 16px;
      color: gray;
      cursor: pointer;
    }

    button {
      float: right;
      color: $blue;
      font-size: 16px;
      text-transform: uppercase;
      border: none;
      cursor: pointer;
      font-weight: bold;
      background: #f2f5f8;

      &:hover {
        color: darken($blue, 7%);
      }
    }
  }
}

.online,
.offline,
.me {
  margin-right: 3px;
  font-size: 10px;
}

.online {
  color: $green;
}

.offline {
  color: $orange;
}

.me {
  color: $blue;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.float-right {
  float: right;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

ul {
  list-style-type: none;
  // padding: 20px;
  height: 770px;
}

li {
  padding: 5px;
}
#userList {
  padding: 10px;
}

.Dp {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-transform: capitalize;
  text-align: center;
  color: greenyellow;
  // margin: 18px;
  margin-top: 10px;
  padding: 10px;
  font-size: larger;
  // letter-spacing: 0.2rem;
}
.line {
  margin-top: 40px;
}

#dp {
  width: 90px;
  height: 90px;
  border-radius: 40px;
}
#ReceiverImg {
  width: 80px;
  height: 80px;
  border-radius: 40px;
}
.ReceiverName {
  text-transform: capitalize;
}

.logout {
  width: 6rem;
  height: 3rem;
  border: #128c7e 1px solid;
  border-radius: 26px;
  color: white;
  font-weight: bold;
  font-size: large;
  margin: 20px;
  margin-left: 87vw;
  background-color: #444753;
}

#sNameTag {
  font-size: 20px;
  text-transform: capitalize;
}
#rNameTag {
  font-size: 20px;
  text-transform: capitalize;
}
